.gallery {
  max-width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 70px 0 80px;
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1140px;
  margin: 0 auto 30px;
  column-gap: 24px;
  row-gap: 30px;
  padding: 0;
  list-style: none;
  justify-content: center;
}

.gallery__button {
  display: block;
  cursor: pointer;
  max-width: 1140px;
  width: 100%;
  height: 36px;
  margin: 0 auto 50px;

  background-color: #2f2f2f;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  border: none;
}

@media screen and (max-width: 1140px) {
  .gallery__list {
    column-gap: 30px;
    row-gap: 36px;
  }
}

@media screen and (max-width: 425px) {
  .gallery__list {
    gap: 16px;
  }
}
