.gallery__list-item {
  display: grid;
  grid-template-columns: 320px 44px;
  grid-template-rows: 41px 27px 203px;
  max-width: 364px;
  width: 100%;
  background-color: #222222;
  align-items: center;
}

.gallery__list-title {
  grid-column: 1 / 2;
  grid-row: 1/ 2;
  max-width: 280px;
  margin: 14px 0 9px 14px;

  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

.gallery__list-subtitle {
  grid-column: 1 / 2;
  grid-row: 2/3;
  margin: 0;
  margin-left: 14px;

  color: #8b8b8b;
  font-size: 11px;
  line-height: 13px;
}

.gallery__list-item-button {
  grid-column: 2 / 3;
  grid-row: 1/ 3;
  align-self: center;
  width: 30px;
  height: 30px;

  background-color: #313131;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 50%;
}

.gallery__list-item-button_saved {
  background-image: url(../../images/bookmark.svg);
}

.gallery__list-item-button_active {
  background-color: #3ddc84;
  background-image: url(../../images/bookmark_active.svg);
}

.gallery__delete-button {
  background-image: url(../../images/close-sidebar.svg);
  background-size: 11.32px;
}

.gallery__item-link {
  text-decoration: none;
  color: white;
}

.gallery__item-link:hover {
  opacity: 0.8;
}

.gallery__item-image {
  grid-column: 1/ 3;
  grid-row: 3/ 4;
  justify-self: center;
  max-width: 100%;
  height: 203px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .gallery__list-item {
    max-width: 339px;
    grid-template-columns: 295px 44px;
    grid-template-rows: 41px 27px 190px;
  }

  .gallery__item-image {
    height: 190px;
  }
}

@media screen and (max-width: 425px) {
  .gallery__list-item {
    max-width: 300px;
    grid-template-columns: 256px 44px;
    grid-template-rows: 41px 27px 168px;
  }

  .gallery__item-image {
    height: 168px;
  }
}
