.about-project {
  padding: 110px 70px;
  background-color: #202020;
}

.about-project__title {
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;

  margin: 0;
  margin-bottom: 70px;
  padding-bottom: 23px;
  border-bottom: 1px solid #dadada;
}

.about-project__info-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;
}

.about-project__info {
  max-width: 550px;
}

.about-project__info-title {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;

  margin: 0;
  margin-bottom: 26px;
}

.about-project__info-content {
  font-size: 14px;
  line-height: 20px;
}

.about-project__stages {
  display: flex;
  text-align: center;
}

.about-project__back {
  width: 228px;
}

.about-project__front {
  width: 912px;
}

.about-project__time {
  font-size: 14px;
  line-height: 17px;
  padding: 9px 0;
}

.about-project__time_front {
  background-color: #3ddc84;
  color: black;
}

.about-project__time_back {
  background-color: #303030;
}
