.search {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 70px 10px;
}

.search__form {
  display: flex;
  align-items: center;
  padding: 80px 0 83px;
  border-bottom: 1px solid #aaa;
}

.search__input-search {
  max-width: 932px;
  width: 100%;
  height: 48px;
  opacity: 0.2;
  background-color: #202020;
  border: 1.5px solid #aaa;
  border-radius: 50px;
  padding-left: 22px;
}

.search__btn-submit {
  background-color: #4285f4;
  background-image: url(../../images/search-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  /* width: 80px;*/
  height: 34px;
  padding: 1px 40px;
  border: none;
  border-radius: 48px;
  margin-left: -87px;
  z-index: 1;
}

.search__label-check {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-left: 48px;
  font-size: 13px;
  line-height: 18px;
}

.search__input-check {
  display: none;
}

.search__div-check {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  width: 34px;
  height: 14px;
  padding: 2px;
  background-color: #3ddc84;
  border-radius: 20px;
}

.search__div-check_uncheck {
  background-color: #aaa;
  justify-content: flex-start;
}

.search__tumb-check {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}
