.navtab {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
  padding: 18px 70px;
  background-color: #073042;
}

.navtab__logo {
  width: 38px;
  height: 38px;
}

.navtab__nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navtab__link {
  padding: 8px 20px;
  text-decoration: none;
  color: white;
}

.navtab__link_value-login {
  color: black;
  background-color: #3ddc84;
  border-radius: 3px;
}
