.header {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
  padding: 18px 70px;
  background-color: #202020;
}

.header_main {
  background-color: #073042;
}

.header__logo {
  width: 38px;
  height: 38px;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__link {
  text-decoration: none;
  color: white;
}

.header__link_value-acc {
  margin-left: 30px;
  display: flex;
  align-items: center;
  gap: 17px;
}

.header__img-profile {
  border-radius: 4px;
  padding: 8px 7.25px;
  background-color: #313131;
}

.header__btn {
  display: none;
  background-color: inherit;
  border: none;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 18px 30px;
  }

  .header__link {
    display: none;
  }

  .header__btn {
    display: block;
  }
}

@media screen and (max-width: 425px) {
  .header {
    padding: 18px 14px;
  }

  .header__btn {
    width: 40px;
    height: 43px;
  }
}
