.register {
  max-width: 396px;
  width: 100%;
  margin: 70px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.register__logo {
  order: -1;
  width: 38px;
  height: 38px;
}

.register__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 40px 0;
}

.register__label {
  font-size: 10px;
  line-height: 12px;
  color: #8b8b8b;
}

.register__input {
  max-width: 396px;
  width: 100%;
  height: 46px;
  box-sizing: border-box;
  padding: 15px;
  margin: 10px 0 20px;

  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  background: #2f2f2f;
  border-radius: 8px;
  border: none;
}

.register__error {
  margin: 0;
  margin-top: -10px;

  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
}

.register__submit {
  max-width: 396px;
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  margin: 69px 0 16px;
  padding: 13px 0 15px;

  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  background: #4285f4;
  border-radius: 3px;
}

.register__submit_login {
  margin-top: 179px;
}

.register__question {
  margin: 0;

  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #8b8b8b;
}

.register__link {
  margin-left: 6px;

  color: #4285f4;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .register {
    margin: 232px auto;
  }
}

@media screen and (max-width: 425px) {
  .register {
    max-width: 260px;
    margin: 56px auto 30px;
    align-items: center;
  }

  .register__title {
    margin: 50px 0 80px;
  }

  .register__submit {
    margin-top: 157px 0 14px;
    font-size: 12px;
    line-height: 15px;
  }

  .register__question {
    font-size: 12px;
    line-height: 15px;
  }

  .register__submit_login {
    margin-top: 267px;
  }
}
