@import url(./vendor/Inter_Web/inter.css);

.page {
  padding: 0;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  background-color: #202020;
  color: #fff;
  font-family: 'Inter', 'Arial', sans-serif;
}
